@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme('colors.white');
  --text: theme('colors.cyan.900');
}

[class='dark'] {
  --background: theme('colors.gray.900');
  --text: theme('colors.cyan.50');
}

.toast-success {
  background-color: hsl(var(--toast-success));
  color: white;
}

.toast-warning {
  background-color: hsl(var(--toast-warning));
  color: black;
}

.toast-destructive {
  background-color: hsl(var(--toast-destructive));
  color: white;
}

body {
  background-color: var(--background);
  color: var(--text);
}

.theme-transition {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.aspect-w-16 {
  position: relative;
  padding-bottom: 56.25%;
}

.aspect-h-9 {
  position: relative;
}

.aspect-w-16>*,
.aspect-h-9>* {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.position-important {
  position: static !important;
}